.deals {
  display: grid;
}
.sale-item {
}
h1 {
  margin-bottom: 40px;
}
.shape-outside img {
  float: left;
  margin: -25px 5em -1.5em 0;
  width: 200px;
  border-radius: 50%;
  shape-outside: circle();
}
